
@{
    ViewBag.Title = "Save";
}

<h2>Save</h2>
<p>
    ip = @ViewBag.IP <br/>
    port = @ViewBag.Port <br/>
    freq = @ViewBag.Freq <br/>
    time = @ViewBag.Time <br/>
    filename = @ViewBag.File
</p>

